:root {
    --heroprimary: rgba(3, 77, 83, 1);
    --herotint-1: rgba(14, 104, 112, 1);
    --herotypography-primary: rgba(12, 12, 10, 1);
    --herotypography-secondary: rgba(99, 99, 99, 1);
    --herotypography-tertiary: rgba(239, 239, 239, 1);
    --heroaccent: rgba(255, 180, 62, 1);
    --heroadditonal-1: rgba(200, 237, 210, 1);
    --herowhite: rgba(255, 255, 255, 1);
    --herobackground: rgba(255, 255, 242, 1);
    --heroadditonal-2: rgba(178, 224, 229, 1);
    --heroadditonal-3: rgba(105, 141, 105, 1);
    --landingwhite: rgba(255, 255, 255, 1);
    --landingprimary: rgba(19, 19, 19, 1);
    --landingsec: rgba(139, 139, 139, 1);
    --1-font-family: "Libre Franklin", Helvetica;
    --1-font-weight: 700;
    --1-font-size: 64px;
    --1-letter-spacing: 0px;
    --1-line-height: normal;
    --1-font-style: normal;
    --variable-collection-color2: rgba(255, 248, 10, 1);
    --variable-collection-hero-primary: rgba(3, 77, 83, 1);
}
